* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none !important;
}

a {
  text-decoration: none !important;
}

:root {
  --primary-white: #fff;
  --primary-grey: #333;
  --primary-alt-white: #eef3f8;
  --primary-navbar: #bdf7f7;
  --primary-bg-search: #eef3f8;
  --primary-orange: #f9ab08;
  --primary-navy: #021e39;
  --primary-green: #21b43d;
  --primary-alt-green: #2fc64c;
  --primary-purple: #6649b8;
  --primary-custom-green: #85fac7;
  --primary-custom-pink: #e52e71;
  --primary-aqua: aqua;
  --primary-brick-red: #8b4513;
  --primary-peach: #fde1d2db;
  --primary-bright-green: #1bd4a5;
  --primary-bright-orange: #dd501d;
  --primary-re: red;
  --primary-backdrop: #282c34;
  --primary-alt-orange: #f1c17e;
  --primary-scale-spinner: #f37a24;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6.4px;
}
body::-webkit-scrollbar-track {
  background-color: var(--primary-white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-purple);
  border-radius: 8px;
}
h2,
h3 {
  font-family: "Roboto Bold", sans-serif !important;
}
h4,
h5 {
  font-family: "Roboto Regular", sans-serif !important;
}
